body
{
	background-color: #e0e0e0;
}

.daze-map-fake
{
	position: fixed;
	display: inline-block;
	width: 100%;
	height: 100%;

	background-size: initial;
	background-position: center;
}
#map-fake
{
	background-image: url("../img/map-fake.png");
}
#map-fake-overlay
{
	background-image: url("../img/map-fake-overlay.png");
}






.daze-tag
{
	background-image: url("../img/tags.png");
	background-size: cover;
	background-position-y: 50%;
}
.daze-tag div
{

	padding-top: 100%;
}
.text-only
{
	background-image: url("../img/tags-text.png");
}
 

.wtf
{
	background-position-x: 0%;
}
.hangout
{
	background-position-x: 14.275%;
}
.cop
{
	background-position-x: 28.55%;
}
.cool
{
	background-position-x: 42.87%;
}
.club
{
	background-position-x: 57.15%;
}
.music
{
	background-position-x: 71.4%;
}
.study
{
	background-position-x: 85.7%;
}
.event
{
	background-position-x: 100%;
}
